<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Manejo de listas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-item>
            <ion-icon name="planet-outline"></ion-icon>
            <ion-label>Hibridas </ion-label>
            <ion-button fill="outline" slot="end"> Ok</ion-button>
        </ion-item>
        <ion-card-header>
            <ion-card-title>
                Kung lao
            </ion-card-title>
            <img src="assets/ionic.png">
            <ion-card-subtitle>
                Historia:
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Kung Lao es un monje shaolín y ex miembro de la Sociedad del Loto Blanco que debutó en Mortal Kombat II, y vive bajo la sombra de su ancestro el Kung Lao original. También es el más cercano amigo de Liu Kang, con quien protagonizó el spin-off Mortal Kombat
            Shaolin Monks. Precisamente éste videojuego revela que Kung Lao no estuvo ajeno a los eventos del primer videojuego, ya que se mantuvo oculto disfrazado como un guardia enmascarado a pesar de su debut en Mortal Kombat II.
        </ion-card-content>

    </ion-card>
</ion-content>