ion-content ion-toolbar {
  --background: translucent;
}

ion-title{
  font-weight: bold;
  text-align: center;
}

ion-card-title{
  text-align: center;
  color: #FF8000;
  font-weight: bold;
}

ion-label{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}