ion-title{
    text-align: center;
    font-weight: bold;
    color: #3171e0;
    font-size: 30px;
  }

ion-card-title{
  font-weight: bold;  
}

ion-input{
    text-align: center;   
}

ion-card-header{
    border: 2px #000 solid;
  }

ion-card-content{
    border: 2px #000 solid;
  }

ion-label{
    font-weight: bold ;
  }

ion-card-title{
    text-align: center;
    color: #F76606;
    font-size: 25px;
}  